/* Import Roboto Slab font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* Default theme variables */
:root {
    --font-family: 'Roboto Slab','Times New Roman', Times, serif;
    --background-light: #f9f6f3;
    --background-dark: #242322;
    --text-light: #000000;
    --text-dark: #ffffff;
    --accent-light: #6e4b2e;
    --accent-dark: #a186f1;
    --hover-light: #c98b35;
    --hover-dark: #6f4fcc;
    --transition-speed: 0.3s ease-in-out;
}

/* Apply styles to body */
body {
    font-family: var(--font-family);
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

/* Dark theme */
body.theme-dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

/* Apply to content elements */
.content,
.dataview.inline-field-standalone-value,
.dataview.inline-field-value,
.dataview.inline-field-key,
.callout {
    font-family: var(--font-family);
    color: inherit;
}

/* Accent colors */
body.theme-dark {
    --text-accent: var(--accent-dark);
    --text-accent-hover: var(--hover-dark);
    --interactive-accent: var(--accent-dark);
    --h1-color: var(--interactive-accent);
}

body.theme-light {
    --text-accent: var(--accent-light);
    --text-accent-hover: var(--hover-light);
    --interactive-accent: var(--accent-light);
    --h1-color: var(--interactive-accent);
}

/* Hover effects */
a, button {
    color: var(--text-accent);
    transition: color var(--transition-speed);
}

a:hover, button:hover {
    color: var(--text-accent-hover);
}

/* Floating control styles */
#floating-control {
    position: fixed;
    color: var(--text-accent);
    bottom: 1vmax;
    right: 1vmax;
    font-size: 24px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    transition: color var(--transition-speed);
}

#floating-control .svg-icon,
#floating-control i {
    cursor: pointer;
    height: 24px;
    width: auto;
}

/* Theme switch visibility */
#theme-switch .light,
#theme-switch .dark,
#theme-switch .auto {
    display: none;
}

#theme-switch.light .light {
    display: inline;
}

#theme-switch.dark .dark {
    display: inline;
}

#theme-switch.auto .auto {
    display: inline;
}

/* sidebar  */
.sidebar-container {
    &>div:not(.graph) {
      width: 320px;
      max-height: 365px;
      overflow-y: auto;
    }

    @media (max-width: 1490px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  nav.filetree-sidebar {
    top: 85px;
    left: 20px;
    position: fixed;
    height: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow-x: hidden;

    .search-button {
      margin: 10px;
      min-width: 160px;
      margin-bottom: 20px;
    }

    &>.folder {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: -10px;

        .sidebar {
  .toc-container {
    max-height: unset;

    @media (max-width: 1400px) {
      max-height: 320px;
    }
  }
    








